<%= render 'layouts/finder' %>
<div class= "container">
    <div class= "row mt">
        <div class= "col-md-3">
            <%= render 'layouts/userinfo', user: current_user %>

            <%= render 'travels/newform', travel: @travel %>
        </div>

        <div class= "col-md-8 offset-md-1">
            <h2 class= "mb-3">Travels</h2>
            <table class= "table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Opinion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @travels.each do |travel| %>
                        <tr>
                            <td>
                                <%= link_to user_path(travel.user) do %>
                                    <%= attachment_image_tag travel.user, :profile_image, size: '50x50', fallback: "no-img.jpg", class: "img"  %><br>
                                    <p class= "ml-2"><%= travel.user.name %></p>
                                <% end %>
                            <td>
                                <%= attachment_image_tag travel, :image, size: '50x50', fallback: "no-img.jpg" %>
                            </td>
                            </td>
                            <td><%= link_to travel.title, travel_path(travel) %></td>
                            <td><%= travel.body %></td>
                            <td class= "favorite_buttons_<%= travel.id %>">
                                <%= render 'favorites/favorite', travel: travel %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
