<%= render 'layouts/finder' %>
<div class= "container">
    <div class= "row mt">
        <div class= "col-md-3">
            <%= render 'layouts/userinfo', user: current_user %>

            <%= render 'travels/newform', travel:  @travel %>
        </div>

        <div class= "col-md-8 offset-md-1">
            <h2 class= "mb-3">Travels</h2>
            <% @travels.each do |travel| %>
            <div class= "travels-section mb-4 w-100">
                <div>
                    <%= attachment_image_tag travel, :image, size: '220x180', fallback: "no-img.jpg" %>
                </div>
                <div class= "ml-3 w-100">
                    <table class= "table">
                        <tr class= "thead-light">
                            <th style="width: 100px">名称</th>
                            <th>概要</th>
                            <th style="width: 110px">お気に入り</th>
                        </tr>
                        <tr>
                            <td><%= link_to travel.title, travel_path(travel) %></td>
                            <td><%= travel.body %></td>
                            <td>
                                <div class= "favorite_buttons_<%= travel.id %>">
                                    <%= render 'favorites/favorite', travel: travel %>
                                </div>
                            </td>
                        </tr>
                    </table>
                   <div class= "text-right">
                       <%= link_to travel_path(travel) do %>
                           <p class= "mr-4 mb-2">(口コミ <%= travel.travel_comments.count %>件)</p>
                        <% end %>
                    </div>
                    <div class= "text-right">
                        <p class= "mr-4">posted by <%= link_to travel.user.name, user_path(travel.user) %></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
