<%= render 'layouts/finder' %>
<div class= "container">
    <div class= "row mt">
        <div class= "col-md-3">
            <%= render 'layouts/userinfo', user: @travel.user %>
            <%= render 'travels/newform', travel: @travel_new %>
        </div>
        <div class= "col-md-8 offset-md-1">
            <h2 class= "mb-3">Travel detail</h2>
            <table class= "table table-hover">
                <thead>
                    <tr>
                        <th style="width: 100px"></td>
                        <th>名称</th>
                        <th>概要</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= attachment_image_tag @travel, :image, size: '100x100', fallback: "no-img.jpg" %>
                        </td>
                        <td class= "pt-5"><%= link_to @travel.title, user_path(@travel.user) %></td>
                        <td class= "pt-5"><%= @travel.body %></td>
                        <td class= "pt-5">
                             <div class= "favorite_buttons_<%= @travel.id %>">
                                <%= render 'favorites/favorite', travel: @travel %>
                            </div>
                        </td>
                        <% if @travel.user == current_user %>
                          <td class= "pt-5">
                            <%= link_to edit_travel_path(@travel), class: "btn btn-success btn-sm w-75" do %>
                                <i class="fas fa-edit"></i>
                            <% end %>
                          </td>
                          <td class= "pt-5">
                            <%= link_to travel_path(@travel), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm w-75" do %>
                              <i class="far fa-trash-alt"></i>
                            <% end %>
                          </td>
                         <% else %>
                             <td></td>
                             <td></td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
            <p class= "mb-1">コメント<%= @travel.travel_comments.count %>件</p>
            <table class= "table table-hover" id= "comments_area">
                <%= render 'travel_comments/table', travel: @travel %>
            </table>
            <div class= "form-group", id= "comments_form">
                <%= render 'travel_comments/form', travel: @travel, travel_comment: @travel_comment %>
            </div>
        </div
    </div>
</div>





