<%= render 'layouts/finder' %>
<div class= "container">
    <div class= "row">
        <div class= "col-md-3">
            <%= render 'layouts/userinfo', user: @user %>
            <%= render 'travels/newform', travel: @travel %>
        </div>
        <div class= "col-md-8 offset-md-1">
            <div class= "container">
                <div class= "row">
                    <div class= "col-md-8">
                        <h2 class= "mb-3">Travels</h2>
                    </div>
                    <div class= "col-md-4 h-25 mt-2">
                        <% if @user == current_user && @user.travels.exists? %>
                            <%= link_to "すべて削除",  destroy_all_travels_path, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <table class= "table table-hover">
                <thead>
                    <tr>
                        <td></td>
                        <td>Title</td>
                        <td>Opinion</td>
                    </tr>
                </thead>
                <tbody>
                <% @user.travels.each do |travel| %>
                    <tr>
                        <td>
                            <%= link_to user_path(travel.user) do %>
                                <%= attachment_image_tag travel.user, :profile_image, size: '50x50', fallback: "no-img.jpg", class: "img" %>
                            <% end %>
                        </td>
                        <td><%= link_to travel.title, travel_path(travel) %></td>
                        <td><%= travel.body %></td>
                    </tr>
                </tbody>
                <% end %>
            </table>
        </div>
    </div>
</div>


