<% travel.travel_comments.each do |travel_comment| %>
  <tr>
      <td class= "w-25">
          <%= link_to user_path(travel_comment.user) do %>
              <%= attachment_image_tag travel_comment.user, :profile_image, size: '45x45', fallback: "no-img.jpg", class: "img" %><br>
          <% end %>
      </td>
      <td class= "w-25"><%= travel_comment.user.name %></td>
      <td><%= travel_comment.comment %></td>
      <td>
          <%= link_to travel_travel_comments_path(travel_comment.travel, travel_comment), method: :delete, remote: true, class: "btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
          <% end %>
      </td>
  </tr>
<% end %>