<%= render 'layouts/finder' %>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">
      <%= render 'layouts/userinfo', user: current_user %> 
      <%= render 'books/newform', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="mb-2">Books</h2>
      <%= link_to "新しい順", books_path(sort: "latest") %> | <%= link_to "評価の高い順", books_path(sort: "evaluate") %>
      <% @books.each do |book| %>
        <div class="books-section mb-4 w-100">
          <!-- <div>
                <%= attachment_image_tag book, :image, size: '220x180', fallback: "no-img.jpg" %>
            </div> -->
          <div class="ml-3 w-100">
            <table class="table mt-3">
              <tr class="thead-light">
                <th style="width: 100px">タイトル</th>
                <th style="width: 300px;">概要</th>
                <th style="width: 110px">お気に入り</th>
                <th></th>
              </tr>
              <tr>
                <td><%= link_to book.title, book_path(book) %></td>
                <td><%= book.body %></td>
                <td>
                  <div class="favorite_buttons_<%= book.id %>">
                    <%= render 'favorites/favorite', book: book %>
                  </div>
                </td>
                <td class="book-evaluation" data-score="<%= book.evaluation %>"></td>
              </tr>
            </table>
            <div class="text-right">
              <%= link_to book_path(book) do %>
              <p class="mr-4 mb-2">(口コミ <%= book.book_comments.count %>件)</p>
              <% end %>
            </div>
            <div class="text-right">
              <p class="mr-4">
                posted by <%= link_to book.user.name, user_path(book.user) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <h3>投稿数の前日比・前週比</h3>
      <table class="table table-bordered mt-3">
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
        <tr>
          <td><%= @today_posts %></td>
          <td><%= @yestarday_posts %></td>
          <td><%= @previous_day_ratio %>%</td>
        </tr>
      </table>
      <table class="table table-bordered mt-3">
        <tr>
          <th>今週の投稿数</th>
          <th>先週の投稿数</th>
          <th>前週比</th>
        </tr>
        <tr>
          <td><%= @this_week_posts %></td>
          <td><%= @last_week_posts %></td>
          <td><%= @previous_day_ratio %>%</td>
        </tr>
      </table>
      <h3>7日間分の投稿数</h3>
      <table class="table table-bordered mt-3">
        <tr>
          <% (1..7).reverse_each do |date| %>
            <th><%= date == 1 ? "今日" : "#{date-1}日前" %></th>
          <% end %>
        </tr>
        <tr>
          <% @daily_counts.each_index do |i| %>
            <td><%= i < 6 ? @daily_counts[i] : @today_posts %></td>
          <% end %>
        </tr>
      </table>
      <p class="text-center">7日間の投稿数の推移</p>
      <canvas id="myChart" width="400" height="200"></canvas>
      <script>
        draw_graph();
      </script>
      
      <%= form_with url: finder_path, method: :get, class: "mt-3" do |f| %>
        <%= f.date_field :date_form %>
        <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
      <% end %>
      <div class="find_result">
        <%= render "finders/result", posts_count: @posts_count %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.book-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>